@function contrastColor($color) {
  @if (lightness( $color ) > 50) {
    @return #000; // Lighter color, return black
  }
  @else {
    @return #fff; // Darker color, return white
  }
}


$btn-size: 32px;
$btn-color: #000;

  .cirqle-hover {
    width:$btn-size; // position button width fix
    position:absolute;
    top:600px; left:440px;
    z-index:60;
    &.cirqle-hover-2 {
      left:900px;
    }
  }
  .cirqle-btn {
    float:right; // expand to left
    position:relative;
    border:1px $btn-color solid;
    margin:0; padding:0;
    width:$btn-size; height:$btn-size;
    overflow:hidden;
    background:rgba($btn-color, .9);
    font:{family:sans-serif; size:11px; weight:600;}
    text:{transform:uppercase;}
    letter-spacing:2px;
    line-height:$btn-size - 1px;
    color:contrastColor($btn-color);
    cursor:pointer;
    border-radius:$btn-size;
    -webkit-font-smoothing:antialiased;
    transition:all .3s ease;
    box-sizing:content-box !important;
    i   {
      float:left;
      display:block;
      border:2px contrastColor($btn-color) solid;
      margin:($btn-size / 5) 0 0 ($btn-size / 5);
      width:$btn-size / 2; height:$btn-size / 2;
      border-radius:$btn-size / 2;
      box-sizing:content-box !important;
    }
    svg {
      float:left;
      display:block;
      margin:6.5px 0 0 7px;
      width:18px; height:18px;
      box-sizing:content-box !important;
    }
    span  {
      position:absolute;
      top:0.5px; // border top 1px 
      left:$btn-size;
      width:200px; // high width
      box-sizing:content-box !important;
    }
    &:hover   {
      width:($btn-size * 2) + ($btn-size / 6);
    }
    &:active  {
      border:1px darken($btn-color, 5%) solid;
      background:darken($btn-color, 5%);
    }
  }
