@function contrastColor($color) {
  @if (lightness( $color ) > 50) {
    @return #000; // Lighter color, return black
  }
  @else {
    @return #fff; // Darker color, return white
  }
}

@function contrastColorR($color) {
  @if (lightness( $color ) < 50) {
    @return #000; // Lighter color, return black
  }
  @else {
    @return #fff; // Darker color, return white
  }
}


$btn-size: 30px;
$btn-color: #333;

  .cirqle-hover {
    width:$btn-size; // position button width fix
    position:absolute;
    top:600px; left:440px;
    z-index:60;
    &.cirqle-hover-2 {
      left:900px;
    }
  }
  .cirqle-btn {
    float:right; // expand to left
    position:relative;
    border:1px darken($btn-color, 2%) solid;
    margin:0; padding:0;
    width:64px; height:$btn-size;
    overflow:hidden;
    background:$btn-color;
    background:linear-gradient(lighten($btn-color, 10%), $btn-color);
    font:{family:sans-serif; size:12px; weight:bold;}
    text:{shadow:0 -1px 0 rgba(#000, .5)}
    line-height:$btn-size - 1px;
    color:contrastColor($btn-color);
    cursor:pointer;
    box-shadow:inset 0 1px 1px 0 rgba(#fff, .2);
    border-radius:2px;
    -webkit-font-smoothing:antialiased;
    box-sizing:content-box !important;
    @media only screen and (min-width: 40.063em) {
      width:129px; 
    }
  }
  .cirqle-btn-icon {
    float:left;
    border-right:1px rgba(#000, .3) solid;
    width:28px; height:$btn-size;
    svg {
      float:left;
      display:block;
      margin:5px 0 0 5px;
      width:$btn-size - 12px; height:$btn-size - 12px;
      box-sizing:content-box !important;
      path {
        fill:contrastColor($btn-color);
      }
    }
  }
  .cirqle-btn-copy {
    position:absolute;
    top:0.5px; // border top 1px 
    left:$btn-size + 5px;
    box-sizing:content-box !important;
  }

  .cirqle-btn:hover {
    background:lighten($btn-color, 13%);
    background:linear-gradient(lighten($btn-color, 30%), lighten($btn-color, 13%));
  }
  .cirqle-btn:active {
    background:lighten($btn-color, 7%);
    background:linear-gradient(lighten($btn-color, 12%), lighten($btn-color, 7%));
    box-shadow:inset 0 1px 2px 0 rgba(#000, .5);
  }
