// html + body
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
}


.iframe-hidden  {
  display:none;
}
.iframe-show  {
  display:block !important;
}

body.iframe-show  {
  overflow-y:hidden;
}

.demo   {
  margin:15px;
  img   {
    max-width:100%;
  }
}

