// bower:scss
// endbower


// overall variables
$primary: #4ab9a6;
$blue: #49b3e9;
$light-grey: #ededed;
$dark-grey: #333;

$flow: 5px;
$spacing: 15px;

$header-close: $spacing * 2;
$product-img-size: 60px + $spacing;

  // desktop
  $spacing--desktop: $spacing * 2;
  $header-close--desktop:$spacing--desktop * 2;
  $product-img-size--desktop: $product-img-size + $spacing--desktop;

// reset headings
@for $i from 1 through 6 {
  h#{$i} {
    margin:0; padding:0;
    font:{weight:400;}
  }
}


// html + body
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
}

body {
  background:#fff;
  font:{family:sans-serif; size:15px; weight:400;}
  color:#000;
}

// paragraphs
p  {
  margin:0; padding:0;
}

// links
a {
  text:{decoration:none;}
}

// reset lists 
ul,
ol {
  margin:0; padding:0;
  list-style:none;
}

// modal container
.container {
  margin:0 auto; padding:0 15px;
  max-width:660px;
}

  // modal header
  .header {
    position:relative;
    border-bottom:1px $light-grey solid;
    padding:$spacing 0;
    @media only screen and (min-width: 64.063em) {
      padding:$spacing--desktop 0;
    }
    h1 {
      margin:0 ($spacing + $header-close) $flow 0;
      font:{size:20px; weight:400;}
      @media only screen and (min-width: 64.063em) {
        margin:0 ($spacing--desktop + $header-close--desktop) $flow 0;
        font:{size:19px;}
      }
    }
  } 
    // shop details  
    .shop-details {
      padding-bottom:$spacing;
      font:{size:15px;}
      color:$dark-grey;

      li  {
        float:left;
        margin-right:$flow;
        @media only screen and (min-width: 64.063em) {
          margin-right:$flow * 2;
        }
      }
      a   {
        text:{decoration:underline;}
        color:#aaa;
        &:hover   {
          color:#000;
        }
      }
    }
    // close modal
    .header__close {
      display:block;
      position:absolute;
      top:$spacing; right:0;
      width:$header-close; height:$header-close;
      //background:#000;
      font:{size:$header-close * 1.5;}
      text:{align:center;}
      color:#aaa;
      cursor:pointer;
      @media only screen and (min-width: 64.063em) {
        top:$spacing--desktop;
        width:$header-close--desktop; height:$header-close--desktop;
      }
      &:before {
        display:block;
        margin:-15px 0 0 -2px;
        content:"\00d7";
      }
      &:hover {
        color:#000;
      }
    }

// products overview
.products {
  @media only screen and (min-width: 64.063em) {
    padding-bottom:$spacing--desktop * 2;
  }
}
  // single product
  .product {
    position:relative;
    border-bottom:1px $light-grey solid;
    padding:$spacing 0;
    padding-left:$product-img-size + $spacing;
    padding-bottom:$spacing * 3;
    min-height:($product-img-size * 2) + (2 * $spacing);
    @media only screen and (min-width: 64.063em) {
      padding:$spacing--desktop 0;
      padding-left:$product-img-size--desktop + $spacing--desktop;
      padding-bottom:$spacing--desktop * 2;
      min-height:($product-img-size--desktop * 2);
    }
  }
    // product avatar
    .product__img {
      position:absolute;
      top:$spacing; left:0;
      border:1px #dedede solid;
      width:$product-img-size; height:$product-img-size;
      background-size:cover;
      background-position:center center;
      border-radius:2px 2px 0 0;
      @media only screen and (min-width: 64.063em) {
        top:$spacing--desktop; left:0;
        width:$product-img-size--desktop; height:$product-img-size--desktop;
      }
    }
    // product share
    .product__share   {
      position:absolute;
      top:$product-img-size + $spacing; left:0;
      border:1px #dedede solid;
      border-top:0;
      margin-bottom:$spacing;
      width:$product-img-size;
      background:$light-grey;
      background-image:linear-gradient(#fff, $light-grey);
      font:{size:9px;}
      text:{align:center; transform:uppercase;}
      letter-spacing:1px;
      color:$dark-grey;
      border-radius:0 0 2px 2px;
      @media only screen and (min-width: 64.063em) {
        top:$product-img-size--desktop + $spacing--desktop; 
        width:$product-img-size--desktop;
      }
      a   {
        display:block;
        padding:$flow;
        color:#000;
        &:hover,
        &.active   {
          background:lighten($light-grey, 3%);
          color:#000;
        }
        &:active {
          background:darken($light-grey, 3%);
        }
      }
      ul  {
        position:relative;
        li  {
          position:relative;
          ul  {
            position:absolute;
            top:$spacing + ($flow * 2); right:0; left:-1px;
            z-index:2;
            border:1px #dedede solid;
            width:150px; 
            background:#fff;
            border-radius:3px;
            box-shadow:0 1px 2px 0 rgba(#000, .1);
            li  {
              border-bottom:1px #dedede solid;
              text:{align:left;}
              &:last-child  {
                border:0;
              }
              a   {
                display:block;
                padding:$spacing;
                color:#000;
                &:hover   {
                  background:#f9f9f9;
                }
              }
            }
            .clicker  {
              position:relative;
            }
          }
        }
      }
      // fallbacks
      .no-js  {
        ul  {
          display:none;
        }
        &:hover ul  {
          display:block;
        }
      }
    }
    // product description
    .product__desc {
      margin-bottom:$flow;
      p   {
        padding-bottom:$flow;
        font:{size:16px;}
        color:$dark-grey;
        @media only screen and (min-width: 64.063em) {
          font:{size:14px;}
          line-height:19px;
        }
      }
    }
      // product title
      .product__title a {
        display:block;
        margin-bottom:$flow;
        font:{size:21px;}
        color:#000;
      }
      // product brand
      .product__brand {
        margin-bottom:$flow;
        font:{size:15px;}
        text:{transform:uppercase;}
        color:$dark-grey;
      }

    // product footer
    .product__footer {
      position:absolute;
      right:0; bottom:$spacing; left:0;
      height:$spacing * 2;
      line-height:$spacing * 2;
      @media only screen and (min-width: 40.063em) {
        left:$product-img-size + $spacing;
      }
      @media only screen and (min-width: 64.063em) {
        left:$product-img-size--desktop + $spacing--desktop;
      }
    }
      // product price
      .product__price {
        float:left;
        margin-bottom:$flow;
      }

      // buy product button
      .product__btn {
        float:right;
        display:inline-block;
        border:1px #000 solid;
        padding:0 $flow;
        width:auto; height:$spacing * 2;
        background:rgba(#000, .8);
        font:{size:11px;}
        text:{align:center; transform:uppercase;}
        letter-spacing:1px;
        line-height:$spacing * 2;
        color:#fff;
        border-radius:2px;
        @media only screen and (min-width: 64.063em) {
          padding:0 ($flow * 2);
        }
        &:active  {
          background:rgba(#000, .9);
          box-shadow:inset 0 1px 1px 0 rgba(#000, .9);
        }
      }

  // modal footer
  .footer   {
    position:relative;
    padding:($spacing * 2) 0 ($spacing * 5);
    @media only screen and (min-width: 64.063em) {
      position:fixed;
      right:$spacing; bottom:$spacing;
      padding:$spacing;
      width:160px;
      background:#f2f2f2;
      border-radius:3px;
    }
  }
    // footer cirqle logo
    .cirqle-logo  {
      width:90px; height:20px;
      background-image:url(../images/cirqle-logo-2.svg);
      background-size:contain;
      background-repeat:no-repeat;
      @media only screen and (min-width: 64.063em) {
        margin-bottom:$flow * 2;
      }
    }
    // footer cirqle slogan
    .cirqle-slogan  {
      position:absolute;
      top:($spacing * 2) + 2px; left:$spacing * 7;
      color:#000;
      @media only screen and (min-width: 64.063em) {
        float:left;
        display:block;
        position:relative;
        top:auto; left:auto;
        font:{size:13px;}
      }
    }

.product__share {
  
}


